<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
              <div class="card-header"> 
                <span style="float: left;"> <i class="fa fa-align-justify"></i> TLM APP Clientes </span>
                    <!-- <input type="text" placeholder="Ingresa razon social ..." (keyup)="buscar(txtTermino.value)" #txtTermino> -->
                   
                    <div style="float: right;" class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-search"></i></span>
                              </div>
                            <input class="form-control" type="text" placeholder="Buscar..." [(ngModel)]="searchText">
                        
                      <button (click)="exportrUser()" class="btn btn-sm btn-success m-r-10"  style="margin-left: 10px;"> <i class="fa fa-download"></i> Descargar</button>
                              
                          </div>
                    </div> 
                <!-- <span style="float: right;"> <button class="btn btn-sm btn-primary" (click)="ngOnInit()">  <i class="icon-refresh"></i> </button></span> -->
              </div>
              <div class="card-body">
                <table class="table table-bordered table-striped table-sm">
                  <thead>
                    <tr>
                      <th>Alias</th>
                      <th>Cliente</th>
                      <th>Doc Identidad</th>
                      <th>Email</th>
                      <th>Estado</th> 
                      <th>Acciones</th> 
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let data of data |filter:searchText | paginate: { itemsPerPage: 10, currentPage: page }   ">
                      <td>{{data.no_alias}}</td>
                      <td>{{data.razon_social}}</td>
                      <td>{{data.nu_ruc}}</td>
                      <td>{{data.no_correo}}</td>
                      <td>
                        <span class="badge badge-success">Active</span>
                      </td>
                      <td>
                         <button  class="badge badge-warning" style="cursor: pointer;" data-toggle="modal" (click)="editInfo(data.id_cliente)"> <i class="icon-pencil" ></i> Editar</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <pagination-controls (pageChange)="page = $event" 
              previousLabel="Anterior"
              nextLabel="Siguiente"></pagination-controls>
            </div>
          </div>
    </div>
</div>




<div bsModal #largeModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Modal title</h4>
          <button type="button" class="close" (click)="largeModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">



        
              <div>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label for="name">Título</label>
                      <input type="text" class="form-control" id="name" placeholder="Ingrese el titulo">
                    </div>
                  </div>
                </div><!--/.row-->
    
                <div class="row">
                    <div class="col-sm-12">
                      <div class="form-group">
                        <label for="name">Descripción</label>
                        <textarea type="text" class="form-control" id="name" rows="5" placeholder="Ingrese el contenido de la notificación"></textarea>
                      </div>
                    </div>
                </div><!--/.row-->
    
    
                <div class="row">
                    <div class="col-sm-12">
                      <div class="form-group text-center">
                            <button type="submit" class="btn btn-block btn-dark"> Notificar</button>
                      </div>
                    </div>
                </div>
              
              </div>



        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="dismiss()">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->