<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                <form  [formGroup]="loginForm"  
                autocomplete="off"
                (ngSubmit)="loginAdministrador()"
                  id="loginform">
                  <h1>Bienvenido</h1>
                  <p class="text-muted">Iniciar sesión en su cuenta</p>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-user"></i></span>
                    </div>
                    <input type="text" class="form-control" formControlName="username" placeholder="Usuario" autocomplete="username" required>
                  </div>
                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div>
                    <input type="password" class="form-control" formControlName="password" placeholder="Contraseña" autocomplete="current-password" required>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <button type="submit" class="btn btn-dark px-4" >Acceder</button>
                    </div>
                    <!-- <div class="col-6 text-right">
                      <button type="button" class="btn btn-link px-0">¿Se te olvidó tu contraseña?</button>
                    </div> -->
                  </div>
                </form>
              </div>
            </div>
            <div class="card text-white bg-dark py-5 d-md-down-none" style="width:44%">
              <div class="card-body text-center">
                <div>
                  <img src="assets/img/logo.png" width="170px">
                  <!-- <h2>Textil la Merced</h2> -->
                  <br><br>
                  <p>Somos una empresa textil dedicada a la tintorería y acabado de telas.  </p>
                  <!-- <img src="assets/img/logo.png" width="200px"> -->
                  <button type="button" class="btn btn-warning active mt-3">Panel Administrativo APPS</button>
                </div>
              </div>
            </div>
          </div>

          <div *ngFor="let alert of alerts">
            <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)">{{ alert.msg }}</alert>
          </div>
        </div>

        
      </div>
      
    </div>

    

  </main>

  


</div>



