<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
              <div class="card-header">
                <span style="float: left;"> <i class="fa fa-align-justify"></i>Listado de Libros</span>
                <div style="float: right;" class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-search"></i></span>
                          </div>
                        <input class="form-control" type="text" placeholder="Buscar..." [(ngModel)]="searchText">
                      <button (click)="edit_books()" class="btn btn-sm btn-success m-r-10"  style="margin-left: 10px;"> <i class="fa fa-plus"></i> Nuevo</button>
                    </div>
                </div>
              </div>
              <div class="card-body">
                <table class="table table-bordered table-striped table-sm">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Titulo</th>
                      <th>Descripción</th>
                      <th>Año</th>
                      <th>Autor</th>
                      <th>Publicado</th>
                      <th>Acciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let data of data |filter:searchText | paginate: { itemsPerPage: 10, currentPage: page } ">
                      <td>{{data.id}}</td>
                      <td>{{data.tittle}}</td>
                      <td>{{data.sinopsis}}</td>
                      <td>{{data.anio}}</td>
                      <td>{{data.name_author}}</td>
                      <td>{{data.publicado}}</td>
                      <td>
                        <div class="btn-group" role="group" aria-label="">
                          <button  class="btn btn-success" (click)="edit_books(data.id, 0)"> <i class="icon-pencil" ></i></button>
                          <button  class="btn btn-danger" (click)="edit_books(data.id, 1)"> <i class="icon-trash" ></i></button>
                        </div>
                     </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <pagination-controls (pageChange)="page = $event"
                previousLabel="Anterior"
                nextLabel="Siguiente"></pagination-controls>
            </div>
          </div>
    </div>
</div>
