<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <span style="float: left;"> <i class="fa fa-align-justify"></i> Registro de Libro </span>
                </div>
                <form  [formGroup]="registerBook" (ngSubmit)="updateForm()" id="registerBook">
                    <div class="card-body">
                        <div class="mb-3 row">
                            <label for="titulo" class="col-sm-2 col-form-label">Titulo</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="Titulo" formControlName="titulo" />
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="descripcion" class="col-sm-2 col-form-label">Descripción</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" placeholder="Ingrese Descripcion" name="descripcion" id="descripcion" cols="30" rows="10" formControlName="descripcion"></textarea>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="autor" class="col-sm-2 col-form-label">Autor</label>
                            <div class="col-sm-7">
                                <input class="form-control" [(ngModel)]="selected" [typeahead]="states" />
                            </div>
                            <div class="col-sm-3">
                                <button type="button" class="btn btn-primary">Confirm identity</button>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="publicado" class="col-sm-2 col-form-label">Publicado</label>
                            <div class="col-sm-4">
                                <input class="form-check-input" type="checkbox" value="" name="publicado" id="publicado">
                            </div>
                            <label for="anio" class="col-sm-2 col-form-label">Año</label>
                            <div class="col-sm-4">
                                <input class="form-control" type="text" name="anio" id="anio" />
                            </div>
                        </div>
                    </div>
                    <div class="card-footer ">
                        <div class="mb-3 row justify-content-end">
                            <button routerLink="/base/visitas" class="btn btn-sm btn-default mr-3" > <span > <i class="fa fa-quit"></i> Cancelar </span> </button>
                            <button type="submit" class="btn btn-sm btn-success" > <span > <i class="fa fa-save"></i> Guardar </span> </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


