


<div class="animated fadeIn">
    <div class="row">

        <div class="col-lg-12">
            <div class="card">
              <div class="card-header"> 
                <span style="float: left;"> <i class="fa fa-align-justify"></i> TLM APP Clientes </span>
                <div style="float: right;" class="form-group">


                    <div class="input-group">

                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-search"></i></span>
                          </div>
                        <input class="form-control" type="text" placeholder="Buscar..." [(ngModel)]="searchText">

                      <button (click)="exportrUser()" class="btn btn-sm btn-success m-r-10"  style="margin-left: 10px;"> <i class="fa fa-download"></i> Descargar</button>

                    </div>
                </div> 

              </div>
              
              <div class="card-body">
                <table class="table table-bordered table-striped table-sm">
                  <thead>
                    <tr>
                      <th>ID Cliente</th>
                      <th>ID Login</th>
                      <th>Razon Social</th>
                      <th>RUC</th>
                      <th>Dirección</th>
                      <th>Celular</th>
                      <th>Telefono</th>
                      <th>Codigo</th>
                      <th>Estado</th>
                      <th>Acciones</th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr *ngFor="let data of data |filter:searchText | paginate: { itemsPerPage: 10, currentPage: page } ">
                      <td>{{data.id_cliente}}</td>
                      <td>{{data.id_login}}</td>
                      <td>{{data.no_razon}}</td>
                      <td>{{data.nu_ruc}}</td>
                      <td>{{data.no_dir}}</td>
                      <td>{{data.nu_celular}}</td>
                      <td>{{data.nu_telefono}}</td>
                      <td>{{data.code_verify}}</td>
                      <td>
                        <span *ngIf="data.status == 1" class="badge badge-success">Active</span>
                        <span *ngIf="data.status == -1" class="badge badge-danger">Inactivo</span>
                      </td>
                      <td>
                        <button  class="badge badge-warning" style="cursor: pointer;" (click)="irDetalle(data.id_cliente)"> <i class="icon-pencil" ></i> Editar</button>
                     </td>
                    </tr>
                  </tbody>
                </table>
                
              </div>
              <pagination-controls (pageChange)="page = $event" 
              previousLabel="Anterior"
              nextLabel="Siguiente"></pagination-controls>
            </div>
          </div>

    </div>
</div>