<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
              <div class="card-header">
                <span style="float: left;"> <i class="fa fa-align-justify"></i>Listado de Autores</span>
                <div style="float: right;" class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-search"></i></span>
                          </div>
                        <input class="form-control" type="text" placeholder="Buscar..." [(ngModel)]="searchText">
                      <button (click)="openModal(form_autor)" class="btn btn-sm btn-success m-r-10"  style="margin-left: 10px;"> <i class="fa fa-plus"></i> Nuevo</button>
                    </div>
                </div>
              </div>
              <div class="card-body">
                <table class="table table-bordered table-striped table-sm">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Titulo</th>
                      <th>Descripción</th>
                      <th>Año</th>
                      <th>Autor</th>
                      <th>Publicado</th>
                      <th>Acciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let data of data |filter:searchText | paginate: { itemsPerPage: 10, currentPage: page } ">
                      <td>{{data.id}}</td>
                      <td>{{data.tittle}}</td>
                      <td>{{data.sinopsis}}</td>
                      <td>{{data.anio}}</td>
                      <td>{{data.name_author}}</td>
                      <td>{{data.publicado}}</td>
                      <td>
                        <button  class="badge badge-warning" style="cursor: pointer;" (click)="view(data.id)"> <i class="icon-pencil" ></i> Editar</button>
                        <button  class="badge badge-warning" style="cursor: pointer;" (click)="remover(data.id)"> <i class="icon-trash" ></i> Editar</button>
                     </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <pagination-controls (pageChange)="page = $event"
                previousLabel="Anterior"
                nextLabel="Siguiente"></pagination-controls>
            </div>
          </div>
    </div>
</div>

<ng-template #form_autor>
    <div class="modal-header">
       <h4 class="modal-title pull-left">Modal</h4>
       <button type="button" class="close pull-right" aria-label="Close" (click)="modalWin.hide()">
          <span aria-hidden="true">×</span>
       </button>
    </div>
    <div class="modal-body">
        
    </div>
    <div class="modal-footer">
       <button type="button" class="btn btn-default" (click)="modalWin.hide()">Close</button>
    </div>
 </ng-template>