


<div class="animated fadeIn">
    <div class="row">

        <div class="col-lg-12">
            <div class="card">
              <div class="card-header"> 
                <span style="float: left;"> <i class="fa fa-align-justify"></i> TLM APP Visita a planta </span>
                <div style="float: right;" class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-search"></i></span>
                          </div>
                        <input class="form-control" type="text" placeholder="Buscar..." [(ngModel)]="searchText">
                      <button (click)="exportrUser()" class="btn btn-sm btn-success m-r-10"  style="margin-left: 10px;"> <i class="fa fa-download"></i> Descargar</button>
                          
                    </div>
                </div> 

              </div>
              
              <div class="card-body">
                <table class="table table-bordered table-striped table-sm">
                  <thead>
                    <tr>
                      <th>ID Visita</th>
                      <th>Fecha</th>
                      <th>Hora</th>
                      <th>Razon social</th>
                      <th>Motivo</th>
                      <th># Pases</th>
                      <th>Status</th>
                      <th>Acciones</th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr *ngFor="let data of data |filter:searchText | paginate: { itemsPerPage: 10, currentPage: page } ">
                      <td>{{data.id_visita}}</td>
                      <td>{{data.fec_visita}}</td>
                      <td>{{data.hora_visita}}</td>
                      <td>{{data.razon_social}}</td>
                      <td>{{data.motivo}}</td>
                      <td>{{data.nro_pases}}</td>
                      <td>
                          <span *ngIf="data.status == 1" class="badge badge-danger">Pendiente</span>
                          <span *ngIf="data.status == 2" class="badge badge-warning">En planta</span>
                          <span *ngIf="data.status == 3" class="badge badge-success">Completado</span>
                      </td>
                      <td>
                        <button  class="badge badge-primary" style="cursor: pointer;" (click)="irDetalle(data.id_visita)"> <i class="icon-eye" ></i> Ver detalle</button>
                     </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <pagination-controls (pageChange)="page = $event" 
              previousLabel="Anterior"
              nextLabel="Siguiente"></pagination-controls>
            </div>
          </div>

    </div>
</div>