<div class="animated fadeIn">
    <div class="row">

      


        <div class="col-lg-12">
          <form  [formGroup]="registerForm"  
              autocomplete="off"  
              (ngSubmit)="saveInformation()"
                id="registerForm">


            <div class="card">


              


              <div class="card-header"> 
                <span style="float: left;"> <i class="fa fa-align-justify"></i> Detalle Cliente APP </span>

                <div style="float: right;"> 
                    <button routerLink="/base/clientes" class="btn btn-sm btn-primary m-r-10" > <span > <i class="fa fa-align-justify"  ></i> Regresar a Listado </span> </button>
                    <button type="submit" class="btn btn-sm btn-success"> <span > <i class="fa fa-save"></i> Guardar </span> </button>
                </div>


              </div>
              

              <tabset>
                <tab heading="Información">


              <div class="card-body">



                


                <div class="row">

                    <div class="col-sm-3">
                        <div class="form-group">
                          <label for="name">Proveedor</label>
                          <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-edit"></i></span>
                              </div>
                              <select id="select3" name="select3" class="form-control" [(ngModel)]="user.is_proveedor"  formControlName="is_proveedor"  >
                                <option *ngFor="let proveedor of proveedor" [value]="proveedor.valor" >{{proveedor.proveedor}}</option>
                              </select>

                            </div>
                        </div>
                      </div>



                      <div class="col-sm-3">
                        <div class="form-group">
                          <label for="name">Documento de indentidad</label>
                          <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-edit"></i></span>
                              </div>

                              <select id="select3" name="select3" class="form-control" [(ngModel)]="user.id_tipdocumento" formControlName="id_tipdocumento" >
                                <option *ngFor="let doc of doc" [value]="doc.id_tipodoc" >{{doc.no_tipodoc}}</option>
                              </select>


                            </div>
                        </div>
                      </div>



                    

                    <div class="col-sm-3">
                        <div class="form-group">
                          <label for="name">RUC</label>
                          <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-edit"></i></span>
                              </div>
                              <input type="text" class="form-control" placeholder="Ingrese ruc" [(ngModel)]="user.num_doc" formControlName="num_doc">
                            </div>
                        </div>
                      </div>


                      <div class="col-sm-3">
                        <div class="form-group">
                          <label for="name">Alias</label>
                          <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-edit"></i></span>
                              </div>
                              <input type="text" class="form-control" placeholder="Ingrese alias" [(ngModel)]="user.no_alias" formControlName="no_alias">
                            </div>
                        </div>
                      </div>
                      
                </div>




                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                          <label for="name">Razon Social</label>
                          <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-edit"></i></span>
                              </div>
                              <input type="text" class="form-control " placeholder="Ingrese razon social" [(ngModel)]="user.no_razon" formControlName="no_razon">
                            </div>
                        </div>
                      </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                      <div class="form-group">
                        <label for="name">Dirección</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fa fa-edit"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="Ingrese dirección" [(ngModel)]="user.no_dir" formControlName="no_dir">
                          </div>
                      </div>
                    </div>
                </div>





                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                          <label for="name">Departamento</label>
                          <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-edit"></i></span>
                              </div>
                              <select id="select3" name="select3" class="form-control form-control"   [(ngModel)]="user.co_depart" formControlName="co_depart" >
                                <option *ngFor="let item of dep" [value]="item.co_depart"  >{{item.no_depart}}</option>
                              </select>
                            </div>
                        </div>
                      </div>

                    
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label for="name">Provincia</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fa fa-edit"></i></span>
                            </div>
                            <select id="select2" name="select2" class="form-control form-control"    [(ngModel)]="user.co_provin" formControlName="co_provin"  >
                                <option *ngFor="let item of pro" [value]="item.co_provin" >{{item.no_provin}}</option>
                              </select>
                          </div>
                      </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-group">
                          <label for="name">Distrito</label>
                          <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-edit"></i></span>
                              </div>
                              <select id="select1" name="select1" class="form-control form-control"  [(ngModel)]="user.co_distri" formControlName="co_distri"  >
                                <option *ngFor="let item of dis" [value]="item.co_distri"  >{{item.no_distri}}</option>
                              </select>
                            </div>
                        </div>
                      </div>
                </div>




                <div class="row">

                    
                    <div class="col-sm-3">
                      <div class="form-group">
                        <label for="name">N° Telefono</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fa fa-edit"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="Ingrese numero de telefono" [(ngModel)]="user.nu_telefono" formControlName="nu_telefono">
                          </div>
                      </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                          <label for="name">N° Celular</label>
                          <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-edit"></i></span>
                              </div>
                              <input type="text" class="form-control" placeholder="Ingrese numero de celular" [(ngModel)]="user.nu_celular" formControlName="nu_celular">
                            </div>
                        </div>
                      </div>

                      <div class="col-sm-3">
                        <div class="form-group">
                          <label for="name">Correo electronico</label>
                          <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-edit"></i></span>
                              </div>
                              <input type="text" class="form-control" placeholder="Ingrese correo electronico" [(ngModel)]="user.no_correo" formControlName="no_correo">
                            </div>
                        </div>
                      </div>


                      <div class="col-sm-3">
                        <div class="form-group">
                          <label for="name">Pagina web</label>
                          <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-edit"></i></span>
                              </div>
                              <input type="text" class="form-control" placeholder="Ingrese su pagina web" [(ngModel)]="user.no_web" formControlName="no_web">
                            </div>
                        </div>
                      </div>

                </div>






                <div class="row">
                    <div class="col-sm-3">
                      <div class="form-group">
                        <label for="name">Fecha de constitución</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fa fa-edit"></i></span>
                            </div>
                            <input type="date" class="form-control" placeholder="Ingrese fecha de constitucion" [(ngModel)]="user.fe_const" formControlName="fe_const">
                          </div>
                      </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                          <label for="name">Inicios de actividades</label>
                          <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-edit"></i></span>
                              </div>
                              <input type="date" class="form-control" placeholder="Ingrese fecha de inicio" [(ngModel)]="user.fe_inicio" formControlName="fe_inicio">
                            </div>
                        </div>
                      </div>

                      <div class="col-sm-3">
                        <div class="form-group">
                          <label for="name">Principal contribuyente</label>
                          <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-edit"></i></span>
                              </div>
                              <input type="text" class="form-control" placeholder="Ingrese contribuyente" [(ngModel)]="user.no_cont" formControlName="no_cont">
                            </div>
                        </div>
                      </div>


                      <div class="col-sm-3">
                        <div class="form-group">
                          <label for="name">Agente de retención</label>
                          <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-edit"></i></span>
                              </div>
                              <input type="text" class="form-control" placeholder="Ingrese agente de retencion" [(ngModel)]="user.no_aget" formControlName="no_aget">
                            </div>
                        </div>
                      </div>
                </div>

              </div>

            </tab>


            <tab heading="Representantes">
                <div class="card-body">

                    <div class="row">
                        <div class="col-sm-4">
                          <div class="form-group">
                            <label for="name">Apellidos y Nombres</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                  <span class="input-group-text"><i class="fa fa-edit"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="Ingrese nombres y apellidos">
                              </div>
                          </div>
                        </div>
    
                        <div class="col-sm-4">
                            <div class="form-group">
                              <label for="name">Cargo de representante</label>
                              <div class="input-group">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-edit"></i></span>
                                  </div>
                                  <input type="text" class="form-control" placeholder="Ingrese cargo de representante">
                                </div>
                            </div>
                          </div>
    
                          <div class="col-sm-4">
                            <div class="form-group">
                              <label for="name">N° documento de identidad</label>
                              <div class="input-group">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-edit"></i></span>
                                  </div>
                                  <input type="text" class="form-control" placeholder="Ingrese documento de identidad">
                                </div>
                            </div>
                          </div>
                    </div>

                    <table class="table table-bordered table-striped table-sm">
                        <thead>
                          <tr>
                            <th>Nombres y Apellidos</th>
                            <th>Cargo</th>
                            <th>Documento de identidad</th>
                            <th>Acciones</th>
                          </tr>
                        </thead>
      
                        <tbody>
                          <tr *ngFor="let data of user.representantes">
                            <td>{{data.no_representante}}</td>
                            <td>{{data.cargo_repre}}</td>
                            <td>{{data.dni_repre}}</td>
                            <td>
                              <span  class="badge badge-warning">Edit</span>
                              <span  class="badge badge-danger">Remove</span>
                            </td>
                          </tr>
                        </tbody>
                        
                      </table>


                </div>
            </tab>


            <tab heading="Contactos">
                <div class="card-body">

                    <div class="row">
                        <div class="col-sm-3">
                          <div class="form-group">
                            <label for="name">Apellidos y Nombres</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                  <span class="input-group-text"><i class="fa fa-edit"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="Ingrese nombres y apellidos">
                              </div>
                          </div>
                        </div>
    
                        <div class="col-sm-3">
                            <div class="form-group">
                              <label for="name">Cargo de contacto</label>
                              <div class="input-group">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-edit"></i></span>
                                  </div>
                                  <input type="text" class="form-control" placeholder="Ingrese cargo de contacto">
                                </div>
                            </div>
                          </div>


                          <div class="col-sm-3">
                            <div class="form-group">
                              <label for="name">Correo</label>
                              <div class="input-group">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-edit"></i></span>
                                  </div>
                                  <input type="text" class="form-control" placeholder="Ingrese correo">
                                </div>
                            </div>
                          </div>
    
                          <div class="col-sm-3">
                            <div class="form-group">
                              <label for="name">N° de celular</label>
                              <div class="input-group">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-edit"></i></span>
                                  </div>
                                  <input type="text" class="form-control" placeholder="Ingrese numero de celular">
                                </div>
                            </div>
                          </div>
                    </div>

                    <table class="table table-bordered table-striped table-sm">
                        <thead>
                          <tr>
                            <th>Nombres y Apellidos</th>
                            <th>Cargo</th>
                            <th>Correo electronico</th>
                            <th>N° de celular</th>
                          </tr>
                        </thead>
      
                        <tbody>
                          <tr *ngFor="let data of user.contactos">
                            <td>{{data.no_contacto}}</td>
                            <td>{{data.cargo_contacto}}</td>
                            <td>{{data.correo_contacto}}</td>
                            <td>{{data.nu_cel_contacto}}</td>
                            <td>
                              <span  class="badge badge-warning">Edit</span>
                              <span  class="badge badge-danger">Remove</span>
                            </td>
                          </tr>
                        </tbody>
                      </table>


                </div>
            </tab>



            <tab heading="Accesos APP" *ngIf="id_login !== null">
                <div class="card-body">
                      <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                              <label for="name">Estado del usuario</label>
                              <div class="input-group">
                                  <div class="input-group-prepend">
                                    <button type="button" *ngIf="status == 1" class="btn btn-success"><i class="fa fa-check"></i></button>
                                    <button type="button" *ngIf="status == -1" class="btn btn-danger"><i class="fa fa-close"></i></button>
                                  </div>
                                  <select id="select3" name="select3" class="form-control" value="{{status}}" (change)="cambio(txt.value)"  #txt>
                                    <option *ngFor="let st of st" value="{{st.cod}}">{{st.name}}</option>
                                </select> 
                                </div>
                            </div>
                          </div>
                      </div>
                </div>
            </tab>



            </tabset>



            </div>
          </form>


        </div>



      
    </div>
</div>