<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6 col-lg-3 pointer" routerLink="/base/clientes">
      <div class="card text-white bg-info">
        <div class="card-body">
          <div class="h1 text-muted text-right mb-4">
            <i class="icon-people"></i>
          </div>
          <div class="h4 mb-0">{{totalClientesAPP}}</div>
          <small class="text-muted text-uppercase font-weight-bold">Usuarios APP</small>
        </div>
      </div>
    </div><!--/.col-->

    <div class="col-sm-6 col-lg-3 pointer" routerLink="/base/notifications">
      <div class="card text-white bg-warning">
        <div class="card-body">
          <div class="h1 text-muted text-right mb-4">
            <i class="icon-bell"></i>
          </div>
          <div class="h4 mb-0">{{totalPush}}</div>
          <small class="text-muted text-uppercase font-weight-bold">Notificaciones APP</small>
        </div>
      </div>
    </div><!--/.col-->

    <div class="col-sm-6 col-lg-3 pointer" routerLink="/base/visitas">
      <div class="card text-white bg-success">
        <div class="card-body">
          <div class="h1 text-muted text-right mb-4">
            <i class="icon-calendar"></i>
          </div>
          <div class="h4 mb-0">{{totalVisitas}}</div>
          <small class="text-muted text-uppercase font-weight-bold">Visitas a Planta</small>
        </div>
      </div>
    </div><!--/.col-->

    <div class="col-sm-6 col-lg-3 pointer" routerLink="/base/clientes-erp">
      <div class="card text-white bg-danger">
        <div class="card-body">
          <div class="h1 text-muted text-right mb-4">
            <i class="icon-list"></i>
          </div>
          <div class="h4 mb-0">{{totalCliente}}</div>
          <small class="text-muted text-uppercase font-weight-bold">Clientes Comercial</small>
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->

</div>





<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6 col-lg-6">

      <div class="card">
        <div class="card-header">
          Line Chart
          <div class="card-header-actions">
            <a href="http://www.chartjs.org">
              <small class="text-muted">docs</small>
            </a>
          </div>
        </div>
        <div class="card-body">
          <div class="chart-wrapper">
            <canvas baseChart class="chart"
            [datasets]="lineChartData"
            [labels]="lineChartLabels"
            [options]="lineChartOptions"
            [colors]="lineChartColours"
            [legend]="lineChartLegend"
            [chartType]="lineChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>
      </div>

    </div>

    <div class="col-sm-6 col-lg-6">


      <div class="card">
        <div class="card-header">
          Bar Chart
          <div class="card-header-actions">
            <a href="http://www.chartjs.org">
              <small class="text-muted">docs</small>
            </a>
          </div>
        </div>
        <div class="card-body">
          <div class="chart-wrapper">
            <canvas baseChart class="chart"
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>

<style>
  .pointer {
    cursor: pointer;
  }
</style>