

<div class="animated fadeIn">
    <div class="row">

    
    <div class="col-sm-6 col-lg-6">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-align-justify"></i> Notificaciones  
          </div>
          <div class="card-body">

            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-search"></i></span>
                      </div>
                    <input class="form-control" type="text" placeholder="Buscar..." [(ngModel)]="searchText">
                </div>
            </div> 


            <table class="table table-bordered table-striped table-sm">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Título</th>
                  <th>Descripción</th>
                  <th>Fecha</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let push of push |filter:searchText  | paginate: { itemsPerPage: 5, currentPage: page }">
                  <td># {{push.id_push}}</td>
                  <td>{{push.title}}</td>
                  <td>{{push.descriptions}}</td>
                  <td>{{push.created}}</td>
                  <td>
                    <span class="badge badge-success">Enviado</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <pagination-controls (pageChange)="page = $event" 
              previousLabel="Anterior"
              nextLabel="Siguiente"></pagination-controls>
        </div>
      </div>





      <div class="col-sm-6 col-sm-6">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i> Enviar Notificaciones  
              </div>

              <form  [formGroup]="registerForm"  
                autocomplete="off"  
                (ngSubmit)="sendPush()"
                  id="registerForm">


          <div class="card-body">
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="name">Título</label>
                  <input type="text" class="form-control" id="name" placeholder="Ingrese el titulo" formControlName="title">
                </div>
              </div>
            </div><!--/.row-->

            <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="name">Descripción</label>
                    <textarea type="text" class="form-control" id="name" rows="5" placeholder="Ingrese el contenido de la notificación" formControlName="descriptions"></textarea>
                  </div>
                </div>
            </div><!--/.row-->


            <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                  <label for="name">Clientes</label>
                    <ng-multiselect-dropdown
                    [placeholder]="'Seleccione todos o uno'"
                    [settings]="dropdownSettings"
                    [data]="data"
                    (onSelect)="onItemSelect($event)"
                    (onSelectAll)="onSelectAll($event)" formControlName="registration_ids"
                    ></ng-multiselect-dropdown>
                  </div>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-12">
                  <div class="form-group text-center">
                        <button [disabled]="registerForm.invalid" type="submit" class="btn btn-block btn-dark"> Notificar</button>
                  </div>
                </div>
            </div>
          
          </div>

        </form>


        </div>
      </div><!--/.col-->





    </div>
</div>