<div class="animated fadeIn">
    <div class="row">

        <div class="col-lg-12">
            <div class="card">
              <div class="card-header"> 
                <span style="float: left;"> <i class="fa fa-align-justify"></i> Detalle de la visita a planta </span>
              </div>

              <form  [formGroup]="registerForm"  
                (ngSubmit)="updateForm()"
                  id="registerForm">


              
              <div class="card-body">


                <div class="row">

                    <div class="col-sm-3">
                      <div class="form-group">
                        <label for="name">RUC</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fa fa-edit"></i></span>
                            </div>
                            <input type="text" class="form-control " placeholder="Ingrese razon social" value="{{data.nu_ruc}}" readonly>
                          </div>
                      </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-group">
                          <label for="name">Razon Social</label>
                          <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-edit"></i></span>
                              </div>
                              <input type="text" class="form-control" placeholder="Ingrese ruc" value="{{data.razon_social}}" readonly>
                            </div>
                        </div>
                      </div>
                      

                      <div class="col-sm-3">
                        <div class="form-group">
                          <label for="name">Fecha</label>
                          <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-edit"></i></span>
                              </div>
                              <input type="text" class="form-control " placeholder="Ingrese razon social" value="{{data.fec_visita}}" readonly>
                            </div>
                        </div>
                      </div>

                      <div class="col-sm-2">
                        <div class="form-group">
                          <label for="name">Hora</label>
                          <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-edit"></i></span>
                              </div>
                              <input type="text" class="form-control " placeholder="Ingrese razon social" value="{{data.hora_visita}}" readonly>
                            </div>
                        </div>
                      </div>


                </div>


                <div class="row">

                    <div class="col-sm-4">
                        <div class="form-group">
                          <label for="name">Correo electronico</label>
                          <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-edit"></i></span>
                              </div>
                              <input type="text" class="form-control" placeholder="Ingrese correo electronico" value="{{data.no_correo}}" >
                            </div>
                        </div>
                      </div>

                    
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label for="name">N° Telefono</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fa fa-edit"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="Ingrese numero de telefono" value="{{data.nu_telefono}}" >
                          </div>
                      </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-group">
                          <label for="name">N° Celular</label>
                          <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-edit"></i></span>
                              </div>
                              <input type="text" class="form-control" placeholder="Ingrese numero de celular" value="{{data.nu_celular}}" >
                            </div>
                        </div>
                      </div>

                </div>




                <div class="row">

                    <div class="col-sm-4">
                        <div class="form-group">
                          <label for="name">Motivo de la visita</label>
                          <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-edit"></i></span>
                              </div>
                              <input type="text" class="form-control" placeholder="Ingrese motivo de visita" value="{{data.motivo_visita}}">
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-8">
                      <div class="form-group">
                        <label for="name">Descripción de la visita</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fa fa-edit"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="Ingrese descripcion de visita" value="{{data.descripcion_visita}}">
                          </div>
                      </div>
                    </div>

                    

                </div>


                

                <div class="row">

                    <div class="col-sm-4">
                        <div class="form-group">
                          <label for="name">Estado de visita</label>
                          <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text" (click)="pushStatus(data)" ><i class="fa fa-bell" style="color: orange; cursor: pointer;"></i></span>
                              </div>
                              <select id="select3" name="select3" class="form-control form-control" [(ngModel)]="data.status" formControlName="status">
                                <option *ngFor="let status of status" [value]="status.cod" >{{status.name}}</option>
                              </select>
                            </div>
                        </div>
                      </div>


                    <div class="col-sm-4">
                        <div class="form-group">
                          <label for="name">Ingreso a planta <b> (Inicio de visita)</b></label>
                          <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                              </div>
                              <input type="datetime-local" class="form-control" placeholder="Ingrese correo electronico" [(ngModel)]="data.init_visit"  formControlName="init_visit" >
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label for="name">Salida de planta <b> (Fin de visita)</b></label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                            </div>
                            <input type="datetime-local" class="form-control" placeholder="Ingrese numero de telefono" [(ngModel)]="data.end_visit"  formControlName="end_visit">
                          </div>
                      </div>
                    </div>

                </div>

                <p>Visitantes</p>
                <table class="table table-bordered table-striped table-sm">
                  <thead>
                    <tr>
                      <th>Nombres</th>
                      <th>Apellidos</th>
                      <th>Celular</th>
                      <th>Correo</th>
                      <th>Posse CTR</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let push of visitantes">
                      <td>{{push.nombres_visitante}}</td>
                      <td>{{push.apellidos_visitante}}</td>
                      <td>{{push.tlf_visitante}}</td>
                      <td>{{push.email_visitante}}</td>
                      <td>
                        <span *ngIf="push.posee_scrt == 0" class="badge badge-danger">No</span>
                        <span *ngIf="push.posee_scrt == 1" class="badge badge-success">Si</span>
                      </td>
                </table>


              </div>



              

              <div class="card-footer" style="float: right;"> 
                  <button routerLink="/base/visitas" class="btn btn-sm btn-primary m-r-10" > <span > <i class="fa fa-align-justify"></i> Regresar a Listado </span> </button>
                  <button type="submit" class="btn btn-sm btn-success" > <span > <i class="fa fa-save"></i> Guardar </span> </button>
              </div>

              </form>

            </div>

            


            
        </div>
    </div>
</div>


